
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "press start 2p";}

body {
        height: 100vh;
        background: url('image.png') center/ cover;
        }
h1{
        color:#fff;
}

.container {
        position: relative;
        height: 100%;
        padding: 50px 5%;
        background: rgba(255, 255, 255, .1);
        border-radius: 30px;
        backdrop-filter: blur(30px);
        transform: scale(0);
        animation: zoom-in 1s ease forwards;
        }
.animated {
        transform: translateY(30px);
        opacity: 0;
        animation: slide-in 1s ease forwards;
        animation-delay: 1s;
        }
        
header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 25px 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        }

.navbar a {
        font-size: 18px;
        font-family: 'Courier New', Courier, monospace;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        border-bottom: 2px solid transparent;
        transition: .5s;
        }

        
.home {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 50px;
        padding: 0 5%;
        color: #fff;
        animation-delay: 1.5s;
        }

.home-detail h1 {
        font-size: 55px;
        line-height: 1;
        }

.home-detail h2 {
        font-size: 32px;
        }

.home-detail p {
        margin: 10px 0 20px;
        }

.social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        height: 100vh;
        width: 100%;
        margin: 0;
        }

.social-icons a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 180px;
        border: 8px solid #fff;
        border-radius: 50%;
        font-size: 90px;
        color: #fff;
        text-decoration: none;
        margin: 0 20px;
        transition: .5s;
        }

.social-icons a:hover {
        background: #fff;
        box-shadow: 0 0 10px #fff;
        color: #333;
        }
footer{
        color: #fff;
        text-align: center;
}

@media (max-width: 700px) {
        .home {
                flex-direction: column;
                text-align: center;
                justify-content: center;
                }
        .social-icons {
                flex-direction: column;
                gap: 20px;
                height: auto;
                margin-top: 60px;
                }
        .social-icons a {
                width: 120px;
                height: 120px;
                font-size: 60px;
                margin: 10px 0;
                border-width: 6px;
                }
        .home-detail{
                margin-top: 120px;
                font-size: 22px;
                }
        }


        /* Keyframe Animations */
        @keyframes zoom-in {
            100% {
                transform: scale(1);
            }
        }

        @keyframes slide-in {
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
