
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "press start 2p";}

body {
        height: 100vh;
        background: url('image.png') center/ cover;
        }

.container {
        position: relative;
        height: 100%;
        padding: 50px 5%;
        background: rgba(255, 255, 255, .1);
        border-radius: 30px;
        border: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(30px);
        transform: scale(0);
        animation: zoom-in 1s ease forwards;
        }
.animated {
        transform: translateY(30px);
        opacity: 0;
        animation: slide-in 1s ease forwards;
        animation-delay: 1s;
        }
        
header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 25px 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        }

.logo {
        font-size: 25px;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        }

.navbar a {
        font-size: 18px;
        font-family: 'Courier New', Courier, monospace;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        border-bottom: 2px solid transparent;
        transition: .5s;
        }

        
.home {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 50px;
        padding: 0 5%;
        color: #fff;
        animation-delay: 1.5s;
        }

.home-detail h1 {
        font-size: 55px;
        line-height: 1;
        }

.home-detail h2 {
        font-size: 32px;
        }

.home-detail p {
        margin: 10px 0 20px;
        }

.download-social {
        display: flex;
        align-items: center;
        }

.btn {
        display: inline-block;
        padding: 10px 30px;
        background: #fff;
        border: 2px solid #fff;
        border-radius: 40px;
        box-shadow: 0 0 10px #fff;
        color: #333;
        text-decoration: none;
        font-weight: 500;
        transition: .5s;
        }

.btn:hover {
        background: transparent;
        box-shadow: none;
        color: #fff;
        }

.social-icons {
        margin-left: 20px;
        }

.social-icons a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 2px solid #fff;
        border-radius: 50%;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        margin: 0 8px;
        transition: .5s;
        }

.social-icons a:hover {
        background: #fff;
        box-shadow: 0 0 10px #fff;
        color: #333;
        }
.home-img .img-box {
        position: relative;
        width: 28vw;
        height: 28vw;
        border: 2px solid #fff;
        border-radius: 50%;
        box-shadow: 0 0 20px #fff;
        overflow: hidden;
        display:scale(100%);
        }

    .home-img .img-box img {
            position: absolute;
            top: 0;
            left: 0;
            bottom:0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
@media (max-width: 700px) {
        .home {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            }

        .home-img .img-box {
            width: 40vw;
            height: 40vw;
            margin-top: 30px;
            }
        .home-detail h1 {
            margin-top: 250px;
            font-size: 30px;
            }
        }
        
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

    p {
        color: rgb(227, 227, 227);
        font-family: 'Courier New', Courier, monospace;
        font-weight: none;
        font-style:normal;
        font-size: 18px;
        text-decoration: none;}

        /* Keyframe Animations */
        @keyframes zoom-in {
            100% {
                transform: scale(1);
            }
        }

        @keyframes slide-in {
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }